mixin createProduct(product)
    div.col-md-4.mb-3
        div.card
            img(src=`/img/${product.image}` alt=`${product.name}`).card-img-top

            div.card-body
                h4.card-title
                    a(href=`/products/${product.id}`) #{product.name}

                small.text-muted #{product.price} 
                    i.fa.fa-try
            div.card-footer.text-center

                a(href=`/products/${product.id}`).btn.btn-outline-primary.btn-sm Detail

                form(action='/cart' method='POST' style="display: inline")
                    input(type='hidden' name='productId' value=`${product.id}`)   
                    button(type="submit" name="quantity" value=1).btn.btn-outline-primary.btn-sm.ms-2 Add to Cart