extends ../layouts/main-layout.pug

block content
    if(action !== 'undefined' && action === 'edit')
        .alert.alert-primary 
            span(style="font-weight: bold;") #{name} 
            span named product has been edited.

    if(action !== 'undefined' && action === 'add')
        .alert.alert-success 
            span(style="font-weight: bold;") #{name} 
            span named product has been added.

    if(action !== 'undefined' && action === 'delete')
        div.alert.alert-danger 
            span(style="font-weight: bold;") #{name} 
            span named product has been deleted.

    if(action !== 'undefined' && action === 'cannotfind')
        div.alert.alert-danger 
            span(style="font-weight: bold;") 
            span Something missing with code to do this operation

    if products.length > 0
        table.table.table-bordered
            thead
                tr
                    th image
                    th name
                    th price
                    th 
            tbody
                each prd in products
                    tr(class=(prd.id==id?"bg-primary":""))
                        td(width = 100)
                            image(src=`/img/${prd.image}` width = 150)
                        td #{prd.name}
                        td #{prd.price}
                        td(width=125)
                            a.btn.btn-primary.btn-sm(href=`/admin/editprd/${prd.id}`) Edit
                            a.btn.ms-2.btn-danger.btn-sm(href=`/admin/deletePrd/${prd.id}`) Delete
    else
        h3.text-center.mt-5 There is no product